# Python 3
__pycache__/

# macOS
.DS_Store

# Visual Studio Code
.vscode/

Pipfile.lock

model/*.txt
model/image_generator_model.h5

src_old/*

model/checkpoints/*
model/*

test_predictions/*

!**/README.md