# Python 3
__pycache__/

# macOS
.DS_Store

# Visual Studio Code
.vscode/

Pipfile.lock

model/checkpoints/*
model/*
model_0/*
model_1/*
model_zebra_2_horse/*

test_predictions/*
test_predictions_old/*

!**/README.md